*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container{
  width: 100%;
  height: 75px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.button{
  font-size: 15px;
  text-decoration: none;
  border: 0;
  padding: 7px 15px;
}

.button-color-1{
  background-color: rgb(0, 97, 255);
  color: white;
}

.subscription-button{
  width: 92%;
}

/* navbar */
.logo{
  float: left;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.main-nav a{
  color: black;
  text-decoration: none;
}

.nav-left{
  float: left;
  padding-top: 28px;
}

.nav-right{
  float: right;
  padding-top: 23px;
}

.nav-left ul, .nav-right ul{
  list-style: none;
}

.nav-left ul li, .nav-right ul li{
  display: inline-block;
  margin-right: 10px;
}
/* /navbar */

/* jumbotron */
.jumbotron-bg{
  background-color: rgb(180, 208, 231);
  width: 100%;
  height: 850px;
}

.jumbotron-container{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.jumbotron-container h2{
  font-size: 90px;
  padding-top: 100px;
}

.jumbotron-container p{
  width: 25%;
  padding: 50px 0;
}

.jumbotron-img{
  width: 65%;
  position: absolute;
  bottom: -325px;
  left: 500px;
}

.down-arrow{
  transform-origin: 0 0;
  transform: rotate(90deg);
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 675px;
  left: 50px;
}

#cancel{
  position: absolute;
  top: 550px;
}
/* /jumbotron */

/* main */
.main-container{
  width: 70%;
  margin: 0 auto;
}

.main-container h2{
  font-size: 30px;
  padding-top: 200px;
}

.billing{
  padding-top: 50px;
}

.billing label{
  padding-right: 15px;
}

/* offerte */
.subscription-container{
  padding-top: 25px;
}

.subscription-category{
  float: left;
  text-align: center;
  padding: 10px;
}

.subscription-plan{
  padding-left: 25px;
  min-height: 1000px;
}

.subscription-plan h3{
  padding: 75px 0 15px;
  font-size: 25px;
}

.subscription-plan h4{
  padding-top: 30px;
  font-size: 20px;
}

.subscription-category, .subscription-plan{
  width: 25%;
  border: 2px solid rgb(208, 208, 211);
}

#price{
  font-size: 20px;
}
 
.sub-info{
  color: rgb(99, 115, 129);
}

.users{
  padding-top: 50px;
}

.info{
  padding-bottom: 15px;
}

.buy{
  padding-top: 25px;
  padding-bottom: 25px;
}

.line{
  width: 15%;
  border-bottom: 2px solid rgb(208, 208, 211);
}

.subscription-plan ul li{
  list-style: none;
  padding-top: 25px
}
/* /offerte */

/* /main */
