*{
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container{
  background-color: blueviolet;
  width: 100%;
  height: 75px;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

/* navbar */
.logo{
  float: left;
  padding: 25px 25px;
}

.main-nav a{
  color: black;
  text-decoration: none;
}

.nav-left{
  float: left;
  padding-top: 29px;
}

.nav-right{
  float: right;
  padding-top: 24px;
}

.nav-left ul, .nav-right ul{
  list-style: none;
}

.nav-left ul li, .nav-right ul li{
  display: inline-block;
  margin-right: 10px;
}
/* /navbar */

#begin{
  font-size: 15px;
  color: white;
  background-color: rgb(0, 97, 255);
  text-decoration: none;
  padding: 5px 15px;
  border: 0;
}